{# _Hospital/templates/add_employee.html_ #}

{% extends "layout.html" %}

{% block title %}Pridať oddelenie{% endblock %}
{% block links %}
  <link href="../static/css/dashboard.css" rel="stylesheet">
{% endblock %}


{% block page_header %}Pridať oddelenie{% endblock %}

{% block page_content %}

  <form class="form-horizontal" action="/add_department/finish" method="POST">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="form-group">
          <div class="col-lg-8">
            {% if messages[0] == "fail-add-department" %}
              <div class="alert alert-warning" role="alert">
                <strong>Oddelenie sa nepodarilo pridať do systému.</strong>
              </div>
            {% else %}
              <div class="alert alert-warning" role="alert">
                <strong>Oddelenie bolo úspešne pridané.</strong>
              </div>
            {% endif %}
          </div>  
        </div>
      {% endif %}
    {% endwith %}
    <div class="form-group">
      <label class="col-lg-2 control-label" for="id"><font color="red">* </font>Skratka:</label>
      <div class="col-lg-6">
        <input class="form-control" id="id" name="id" value = "" type="text" placeholder="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="name"><font color="red">* </font>Názov:</label>
      <div class="col-lg-6">
        <input class="form-control" id="name" name="name" value = "" type="text" placeholder="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="floor"><font color="red">* </font>Poschodie:</label>
      <div class="col-lg-6">
        <input class="form-control" id="floor" name="floor" value = "" type="text" placeholder="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="phone"><font color="red">* </font>Telefónne číslo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="phone" name="phone" value = "" type="text" placeholder="">
      </div>
    </div>

    <div class="form-group" style="padding:15px">
      <div class="col-lg-8">
        <button class="btn btn-primary pull-right" type="submit" value="submit">Pridať oddelenie</button>
      </div>
    <div>
  </form>
{% endblock %}