{# _Hospital/templates/add_patient.html_ #}

{% extends "layout.html" %}

{% block title %}Pridať pacienta{% endblock %}
{% block links %}
  <link href="../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block page_header %}Pridať pacienta{% endblock %}

{% block page_content %}

  <form class="form-horizontal" action="/add_patient/finish" method="POST">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="form-group">
          <div class="col-lg-8">
            {% if messages[0] == "fail-add-patient" %}
              <div class="alert alert-warning" role="alert">
                <strong>Pacienta sa nepodarilo úspešne pridať do systému.</strong>
              </div>
            {% else %}
              <div class="alert alert-warning" role="alert">
                <strong>Pacient bol úspešne pridaný.</strong>
              </div>
            {% endif %}
          </div>  
        </div>
      {% endif %}
    {% endwith %}
    <div class="form-group">
      <label class="col-lg-2 control-label" for="birth_number"><font color="red">* </font>Rodné číslo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="birth_number" name="birth_number" value = "" type="text" placeholder="000000/0000">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="typ"><font color="red">* </font>Pohlavie:</label>
      <div class="col-lg-6">
        <select class="form-control" id="gender" name="gender">
          <option value="Muž">Muž</option>
          <option value="Žena">Žena</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="surname"><font color="red">* </font>Priezvisko:</label>
      <div class="col-lg-6">
        <input class="form-control" id="surname" name ="surname" value="" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="name"><font color="red">* </font>Meno:</label>
      <div class="col-lg-6">
        <input class="form-control" id="name" name="name" value="" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="address"><font color="red">* </font>Ulica:</label>
      <div class="col-lg-6">
        <input class="form-control" id="address" name="address" value="" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="city"><font color="red">* </font>Mesto:</label>
      <div class="col-lg-6">
        <input class="form-control" id="city" name="city" value="" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="zip_code"><font color="red">* </font>PSČ:</label>
      <div class="col-lg-6">
        <input class="form-control" id="zip_code" name="zip_code" value="" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="date_of_birth"><font color="red">* </font>Dátum narodenia:</label>
      <div class="col-lg-6">
        <input class="form-control" id="date_of_birth" name="date_of_birth" value="" type="text" placeholder="DD.MM.YYYY">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="insurance"><font color="red">* </font>Zdravotná poisťovňa:</label>
      <div class="col-lg-6">
        <input class="form-control" id="insurance" name="insurance" value="" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="phone">Telefónne číslo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="phone" name="phone" value="" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="email">Email:</label>
      <div class="col-lg-6">
        <input class="form-control" id="email" name="email" value="" type="email">
      </div>
    </div>
    <div class="form-group" style="padding:15px">
      <div class="col-lg-8">
        <button class="btn btn-primary pull-right" type="submit" value="submit">Pridať pacienta</button>
      </div>
    <div>
  </form>
{% endblock %}