{# _Hospital/templates/hospitalization.html_ #}

{% extends "layout.html" %}

{% block title %}Hospitalizovať pacienta{% endblock %}
{% block links %}
  <link href="../../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block page_header %}Hospitalizovať pacienta{% endblock %}

{% block page_content %}

  <form class="form-horizontal" action="/patient/{{ patient.id }}/hospitalization/finish" method="POST">

    <div class="form-group">
      <label class="col-lg-2 control-label" for="birth_number">Rodné číslo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="birth_number" name="birth_number" value = "{{ patient.birth_number }}" type="text" placeholder="000000/0000" disabled="true">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="surname">Priezvisko:</label>
      <div class="col-lg-6">
        <input class="form-control" id="surname" name ="surname" value="{{ patient.surname }}" type="text" disabled="true">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="name">Meno:</label>
      <div class="col-lg-6">
        <input class="form-control" id="name" name="name" value="{{ patient.name }}" type="text" disabled="true">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="start_date"><font color="red">* </font>Začiatok:</label>
      <div class="col-lg-6">
        <input class="form-control" id="start_date" name="start_date" value="{{ hospitalization.start_date }}" type="text" placeholder="DD.MM.YYYY">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="end_date">Koniec:</label>
      <div class="col-lg-6">
        <input class="form-control" id="end_date" name="end_date" value="{{ hospitalization.end_date }}" type="text" placeholder="DD.MM.YYYY">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="room"><font color="red">* </font>Izba:</label>
      <div class="col-lg-6">
        <input class="form-control" id="room" name="room" value="{{ hospitalization.room }}" type="text">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="department_id"><font color="red">* </font>Oddelenie:</label>
      <div class="col-lg-6">
        <select class="form-control" id="department_id" name="department_id">
          {% for deparment in departments %}
            {% if deparment.id == hospitalization.department_id %}
              <option value="{{ deparment.id }}" selected="true">{{ deparment.name }}</option>
            {% else %}
              <option value="{{ deparment.id }}">{{ deparment.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="diagnosis"><font color="red">* </font>Diagnóza:</label>
      <div class="col-lg-6">
        <textarea class="form-control" rows="5" id="diagnosis" name="diagnosis" style="resize: vertical;">{{ hospitalization.diagnosis }}</textarea>
      </div>
    </div>

    <div class="form-group" style="padding:15px">
      <div class="col-lg-8">
        <button class="btn btn-primary pull-right" type="submit" value="submit">Hospitalizovať</button>
      </div>
    </div>
  </form>
{% endblock %}