{# _Hospital/templates/add_employee.html_ #}

{% extends "layout.html" %}

{% block title %}Pridať zamestnanca{% endblock %}
{% block links %}
  <link href="../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block script %}
  function disableElements(){
    var type = document.getElementById("typ").value;
    if (type == "Administrátor") {
      document.getElementById("department_id").value = "";
      document.getElementById("department_id").disabled = true;
      document.getElementById("department_id").options.length = 0;
      document.getElementById("competency").disabled = true;
      document.getElementById("competency").value = "";
      document.getElementById("degree").disabled = true;
      document.getElementById("degree").value = "";
    }
    else if (type == "Lekár") {
      document.getElementById("department_id").options.length = 0;
      var select = document.getElementById("department_id");
      select.disabled = false;
      select.disabled = false;
      {% for d in departments  %}
        select.options[select.options.length] = new Option('{{ d.name }}', '{{ d.id }}');
      {% endfor %}
      document.getElementById("degree").disabled = false;
      document.getElementById("competency").disabled = false;
      document.getElementById("degree").value = "";
      document.getElementById("competency").value = "";
    }

    else {
      document.getElementById("department_id").options.length = 0;
      document.getElementById("degree").value = "";
      document.getElementById("competency").value = "";
      document.getElementById("competency").disabled = true;
      document.getElementById("degree").disabled = true;
      var select = document.getElementById("department_id");
      select.disabled = false;
      {% for d in departments  %}
        select.options[select.options.length] = new Option('{{ d.name }}', '{{ d.id }}');
      {% endfor %}
      <!-- var opt = document.createElement('option'); -->
    }
  }

{% endblock %}

{% block page_header %}Pridať zamestnanca{% endblock %}

{% block page_content %}

  <form class="form-horizontal" action="/add_employee/finish" method="POST">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="form-group">
          <div class="col-lg-8">
            {% if messages[0] == "fail-add-employee" %}
              <div class="alert alert-warning" role="alert">
                <strong>Zamestnanca sa nepodarilo pridať do systému.</strong>
              </div>
            {% else %}
              <div class="alert alert-warning" role="alert">
                <strong>Zamestnanec bol úspešne pridaný.</strong>
              </div>
            {% endif %}
          </div>  
        </div>
      {% endif %}
    {% endwith %}
    <div class="form-group">
      <label class="col-lg-2 control-label" for="typ"><font color="red">* </font>Typ zamestnanca:</label>
      <div class="col-lg-6">
        <select class="form-control" onclick="disableElements()" id="typ" name="typ">
          <option value="" selected disabled>Typ zamestnanca</option>
          <option value="Lekár">Lekár</option>
          <option value="Sestra">Sestra</option>
          <option value="Administrátor">Administrátor</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="username"><font color="red">* </font>Login:</label>
      <div class="col-lg-6">
        <input class="form-control" id="username" name="username" value = "" type="text">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="password"><font color="red">* </font>Heslo:</label>
      <div class="col-lg-2">
        <input class="form-control" id="password" name="password" value = "" type="password">
      </div>
      <label class="col-lg-2 control-label" for="repeat_password"><font color="red">* </font>Kontrola hesla:</label>
      <div class="col-lg-2">
        <input class="form-control" id="repeat_password" name="repeat_password" value = "" type="password">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="birth_number"><font color="red">* </font>Rodné číslo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="birth_number" name="birth_number" value = "" type="text" placeholder="000000/0000">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="name"><font color="red">* </font>Meno:</label>
      <div class="col-lg-6">
        <input class="form-control" id="name" name="name" value = "" type="text" placeholder="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="surname"><font color="red">* </font>Priezvisko:</label>
      <div class="col-lg-6">
        <input class="form-control" id="surname" name="surname" value = "" type="text" placeholder="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="gender"><font color="red">* </font>Pohlavie:</label>
      <div class="col-lg-6">
        <select class="form-control" id="gender" name="gender">
          <option value="" selected disabled>Pohlavie</option>
          <option value="Muž">Muž</option>
          <option value="Žena">Žena</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="date_of_birth"><font color="red">* </font>Dátum narodenia:</label>
      <div class="col-lg-6">
        <input class="form-control" id="date_of_birth" name="date_of_birth" value = "" type="text" placeholder="DD.MM.YYYY">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="insurance"><font color="red">* </font>Poisťovna:</label>
      <div class="col-lg-6">
        <input class="form-control" id="insurance" name="insurance" value = "" type="text" placeholder="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="address"><font color="red">* </font>Adresa:</label>
      <div class="col-lg-6">
        <input class="form-control" id="address" name="address" value = "" type="text" placeholder="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="city"><font color="red">* </font>Mesto:</label>
      <div class="col-lg-6">
        <input class="form-control" id="city" name="city" value = "" type="text" placeholder="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="zip_code"><font color="red">* </font>PSČ:</label>
      <div class="col-lg-6">
        <input class="form-control" id="zip_code" name="zip_code" value = "" type="text" placeholder="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="phone"><font color="red">* </font>Telefónne číslo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="phone" name="phone" value = "" type="text" placeholder="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="email">E-mail:</label>
      <div class="col-lg-6">
        <input class="form-control" id="email" name="email" value = "" type="text" placeholder="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="degree">Titul:</label>
      <div class="col-lg-6">
        <input class="form-control" id="degree" name="degree" value = "" type="text" placeholder="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="competency">Kompetencia:</label>
      <div class="col-lg-6">
        <input class="form-control" id="competency" name="competency" value = "" type="text" placeholder="">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="department_id"><font color="red">* </font>Oddelenie:</label>
      <div class="col-lg-6">
        <select class="form-control" onclick="" ="disableElements()" id="department_id" name="department_id" disabled>
        <option value="" selected disabled>Typ oddelenia</option>
        </select>
      </div>
    </div>


    <div class="form-group" style="padding:15px">
      <div class="col-lg-8">
        <button class="btn btn-primary pull-right" type="submit" value="submit" disabled="true">Pridať zamestnanca</button>
      </div>
    <div>
  </form>
{% endblock %}