{# _Hospital/templates/admin_index.html_ #}

{% extends "layout.html" %}

{% block title %}Prehľad{% endblock %}
{% block links %}
  <link href="static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block style %}
  .form-inline {
    display:table;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .form-inline > * {
    margin:20px 40px;
  }
  h2 {
    padding-top : 30px;
    padding-bottom : 20px;
  }
  label {
    <!-- text-align: right; -->
    clear: both;
    float:right;
    margin-left:15px;
    margin-top: 23px;
    font-size: 20px;
}
{% endblock %}

{% block page_header %}Prehľad{% endblock %}

{% block page_content %}
  
  <form class="form-inline">
    <div class="form-group">
      <span class="glyphicon glyphicon-plus" style="font-size: 60px;"></span>
      {% if dep == 0 or dep > 4 %}
        <label>{{ dep }} oddelení</label>
      {% elif dep == 1 %}
        <label>{{ dep }} oddelenie</label>
      {% else %}
        <label>{{ dep }} oddelenia</label>
      {% endif %}
    </div>
    <div class="form-group">
      <span class="glyphicon glyphicon-heart" style="font-size: 60px;"></span>
      {% if med == 0 or med > 4 %}
        <label>{{ med }} liekov</label>
      {% elif med == 1 %}
        <label>{{ med }} liek</label>
      {% else %}
        <label>{{ med }} lieky</label>
      {% endif %}
    </div>
    <div class="form-group">
      <span class="glyphicon glyphicon-user" style="font-size: 60px;"></span>
      {% if emp == 0 or emp > 4 %}
        <label>{{ emp }} zamestnancov</label>
      {% elif emp == 1 %}
        <label>{{ emp }} zamestnanec</label>
      {% else %}
        <label>{{ emp }} zamestnanci</label>
      {% endif %}
    </div>
  </form>

  <h2>Noví zamestnanci</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rodné číslo</th>
          <th>Typ</th>
          <th>Titul</th>
          <th>Priezvisko</th>
          <th>Meno</th>
          <th>Dátum narodenia</th>
          <th>Pohlavie</th>
          <th>Oddelenie</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
        <tr>
          <td>{{ employee.birth_number }}</td>
          <td>{{ employee.type }}</td>
          <td>{{ employee.title }}</td>
          <td>{{ employee.surname }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.date_of_birth }}</td>
          <td>{{ employee.gender }}</td>
          <td>{{ employee.department }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock %}