{# _Hospital/templates/index.html_ #}

{% extends "layout.html" %}

{% block title %}Profil oddelenia{% endblock %}

{% block links %}
  <link href="../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block style %}
  tbody {
          display:block;
          height:200px;
          overflow:auto;
      }
      thead, tbody tr {
          display:table;
          width:100%;
          table-layout:fixed;
      }
      thead {
          width: calc( 100% - 1em )
  }
{% endblock %}

{% block page_header %}Profil oddelenia{% endblock %}

{% block page_content %}
  <div>
    <p><strong>ID: </strong>GER</p>
    <p><strong>Meno: </strong>Geriatria</p>
    <p><strong>Poschodie: </strong>1</p>
    <p><strong>Telefón: </strong>641</p>
  </div>


  <h2>Hospitalizovaní pacienti</h2>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rodné číslo</th>
          <th>Meno</th>
          <th>Priezvisko</th>
          <th>Dátum narodenia</th>
          <th>Poisťovňa</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>PICUS</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
      </tbody>
    </table>
  </div>






  <h2>Zamestnanci</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rodné číslo</th>
          <th>Meno</th>
          <th>Priezvisko</th>
          <th>Dátum narodenia</th>
          <th>Poisťovňa</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
      </tbody>
    </table>
  </div>


{% endblock %}