{# _Hospital/templates/edit_arbitration.html_ #}

{% extends "layout.html" %}

{% block title %}Upraviť vyšetrenie{% endblock %}
{% block links %}
  <link href="../../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block page_header %}Upraviť vyšetrenie{% endblock %}

{% block page_content %}

  <form class="form-horizontal" action="/arbitration/{{ arbitration.id }}/edit/finish" method="POST">
  <input name="patient_id" value="{{ arbitration.patient_id }}" hidden="true">
    <div class="form-group">
      <label class="col-lg-2 control-label" for="birth_number">Rodné číslo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="birth_number" name="birth_number" value = "{{ arbitration.birth_number }}" type="text" placeholder="000000/0000" disabled="true">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="surname">Priezvisko:</label>
      <div class="col-lg-6">
        <input class="form-control" id="surname" name ="surname" value="{{ arbitration.surname }}" type="text" disabled="true">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="name">Meno:</label>
      <div class="col-lg-6">
        <input class="form-control" id="name" name="name" value="{{ arbitration.name }}" type="text" disabled="true">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="adate"><font color="red">* </font>Dátum:</label>
      <div class="col-lg-6">
        <input class="form-control" id="adate" name="adate" value="{{ arbitration.adate }}" type="text" placeholder="DD.MM.YYYY">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="name"><font color="red">* </font>Názov:</label>
      <div class="col-lg-6">
        <input class="form-control" id="name" name="name" value="{{ arbitration.name }}" type="text">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="details"><font color="red">* </font>Detaily:</label>
      <div class="col-lg-6">
        <textarea class="form-control" rows="5" id="details" name="details" style="resize: vertical;">{{ arbitration.details }}</textarea>
      </div>
    </div>

    <div class="form-group" style="padding:15px">
      <div class="col-lg-8">
        <button class="btn btn-primary pull-right" type="submit" value="submit">Uložiť vyšetrenie</button>
      </div>
    </div>
  </form>
{% endblock %}