{# _Hospital/templates/add_patient.html_ #}

{% extends "layout.html" %}

{% block title %}Editovať pacienta{% endblock %}
{% block links %}
  <link href="../../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block page_header %}Editovať pacienta{% endblock %}

{% block page_content %}

  <form class="form-horizontal" action="/patient/{{ patient_data.id }}/edit/finish" method="POST">
    <!-- {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="form-group">
          <div class="col-lg-8">
            {% if messages[0] == "fail-add-patient" %}
              <div class="alert alert-warning" role="alert">
                <strong>Pacienta sa nepodarilo úspešne pridať do systému.</strong>
              </div>
            {% else %}
              <div class="alert alert-warning" role="alert">
                <strong>Pacient bol úspešne pridaný.</strong>
              </div>
            {% endif %}
          </div>  
        </div>
      {% endif %}
    {% endwith %} -->
    <div class="form-group">
      <label class="col-lg-2 control-label" for="birth_number"><font color="red">* </font>Rodné číslo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="birth_number" name="birth_number" value = "{{ patient_data.birth_number }}" type="text" placeholder="000000/0000">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="typ"><font color="red">* </font>Pohlavie:</label>
      <div class="col-lg-6">
        <select class="form-control" id="gender" name="gender">
          {% if patient_data.gender == "Muž" %}
            <option value="Muž" selected>Muž</option>
            <option value="Žena">Žena</option>
          {% else %}
            <option value="Muž">Muž</option>
            <option value="Žena" selected="">Žena</option>
          {% endif %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="surname"><font color="red">* </font>Priezvisko:</label>
      <div class="col-lg-6">
        <input class="form-control" id="surname" name ="surname" value = "{{ patient_data.surname }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="name"><font color="red">* </font>Meno:</label>
      <div class="col-lg-6">
        <input class="form-control" id="name" name="name" value = "{{ patient_data.name }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="address"><font color="red">* </font>Ulica:</label>
      <div class="col-lg-6">
        <input class="form-control" id="address" name="address" value = "{{ patient_data.address }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="city"><font color="red">* </font>Mesto:</label>
      <div class="col-lg-6">
        <input class="form-control" id="city" name="city" value = "{{ patient_data.city }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="zip_code"><font color="red">* </font>PSČ:</label>
      <div class="col-lg-6">
        <input class="form-control" id="zip_code" name="zip_code" value = "{{ patient_data.zip_code }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="date_of_birth"><font color="red">* </font>Dátum narodenia:</label>
      <div class="col-lg-6">
        <input class="form-control" id="date_of_birth" name="date_of_birth" value = "{{ patient_data.date_of_birth }}" type="text" placeholder="DD.MM.YYYY">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="insurance"><font color="red">* </font>Zdravotná poisťovňa:</label>
      <div class="col-lg-6">
        <input class="form-control" id="insurance" name="insurance" value = "{{ patient_data.insurance }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="phone">Telefónne číslo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="phone" name="phone" value = "{{ patient_data.phone }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="email">Email:</label>
      <div class="col-lg-6">
        <input class="form-control" id="email" name="email" value = "{{ patient_data.email }}" type="email">
      </div>
    </div>
    <div class="form-group" style="padding:15px">
      <div class="col-lg-8">
        <button class="btn btn-primary pull-right" type="submit" value="submit">Uložiť zmeny</button>
      </div>
    <div>
  </form>
{% endblock %}