{# _Hospital/templates/add_employee.html_ #}

{% extends "layout.html" %}

{% block title %}Editovať zamestnanca{% endblock %}
{% block links %}
  <link href="../../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block script %}
   function disableElements(){
    var type = document.getElementById("typ").value;
    if (type == "Administrátor") {
      document.getElementById("department_id").value = "";
      document.getElementById("department_id").disabled = true;
      document.getElementById("department_id").options.length = 0;
      document.getElementById("competency").disabled = true;
      document.getElementById("competency").value = "";
      document.getElementById("degree").disabled = true;
      document.getElementById("degree").value = "";
    }
    else if (type == "Lekár") {
      document.getElementById("department_id").options.length = 0;
      var select = document.getElementById("department_id");
      select.disabled = false;
      select.disabled = false;
      {% for d in departments  %}
        select.options[select.options.length] = new Option('{{ d.name }}', '{{ d.id }}');
      {% endfor %}
      document.getElementById("degree").disabled = false;
      document.getElementById("competency").disabled = false;
      document.getElementById("degree").value = "{{employee_data.degree}}";
      document.getElementById("competency").value = "{{employee_data.competency}}";
    }

    else {
      document.getElementById("department_id").options.length = 0;
      document.getElementById("degree").value = "";
      document.getElementById("competency").value = "";
      document.getElementById("competency").disabled = true;
      document.getElementById("degree").disabled = true;
      var select = document.getElementById("department_id");
      select.disabled = false;
      {% for d in departments  %}
        select.options[select.options.length] = new Option('{{ d.name }}', '{{ d.id }}');
      {% endfor %}
      <!-- var opt = document.createElement('option'); -->
    }
  }
{% endblock %}

{% block page_header %}Editovať zamestnanca{% endblock %}

{% block page_content %}

  <form class="form-horizontal" action="/employee/{{ employee_data.id }}/edit/finish" method="POST">
    <!-- {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="form-group">
          <div class="col-lg-8">
            {% if messages[0] == "fail-edit-employee" %}
              <div class="alert alert-warning" role="alert">
                <strong>Zamestnanca sa nepodarilo upravit.</strong>
              </div>
            {% else %}
              <div class="alert alert-warning" role="alert">
                <strong>Zamestnanec bol úspešne zmeneny.</strong>
              </div>
            {% endif %}
          </div>  
        </div>
      {% endif %}
    {% endwith %} -->
    <div class="form-group">
      <label class="col-lg-2 control-label" for="typ"><font color="red">* </font>Typ zamestnanca:</label>
      <div class="col-lg-6">
        <select class="form-control" onclick="disableElements()" id="typ" name="typ">
          {% if employee_data.type == "Lekár" %}
            <option value="Lekár" selected="true">Lekár</option>
            <option value="Sestra">Sestra</option>
            <option value="Administrátor">Administrátor</option>
          {% elif employee_data.type == "Sestra" %}
            <option value="Lekár">Lekár</option>
            <option value="Sestra" selected="true">Sestra</option>
            <option value="Administrátor">Administrátor</option>
          {% else %}
            <option value="Lekár">Lekár</option>
            <option value="Sestra">Sestra</option>
            <option value="Administrátor" selected="true">Administrátor</option>
          {% endif %}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="birth_number"><font color="red">* </font>Rodné číslo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="birth_number" name="birth_number" value = "{{ employee_data.birth_number }}" type="text" placeholder="000000/0000">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="surname"><font color="red">* </font>Priezvisko:</label>
      <div class="col-lg-6">
        <input class="form-control" id="surname" name ="surname" value = "{{ employee_data.surname }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="name"><font color="red">* </font>Meno:</label>
      <div class="col-lg-6">
        <input class="form-control" id="name" name="name" value = "{{ employee_data.name }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="address"><font color="red">* </font>Ulica:</label>
      <div class="col-lg-6">
        <input class="form-control" id="address" name="address" value = "{{ employee_data.address }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="city"><font color="red">* </font>Mesto:</label>
      <div class="col-lg-6">
        <input class="form-control" id="city" name="city" value = "{{ employee_data.city }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="zip_code"><font color="red">* </font>PSČ:</label>
      <div class="col-lg-6">
        <input class="form-control" id="zip_code" name="zip_code" value = "{{ employee_data.zip_code }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="date_of_birth"><font color="red">* </font>Dátum narodenia:</label>
      <div class="col-lg-6">
        <input class="form-control" id="date_of_birth" name="date_of_birth" value = "{{ employee_data.date_of_birth }}" type="text" placeholder="DD.MM.YYYY">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="insurance"><font color="red">* </font>Zdravotná poisťovňa:</label>
      <div class="col-lg-6">
        <input class="form-control" id="insurance" name="insurance" value = "{{ employee_data.insurance }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="phone"><font color="red">* </font>Telefónne číslo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="phone" name="phone" value = "{{ employee_data.phone }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="email">Email:</label>
      <div class="col-lg-6">
        <input class="form-control" id="email" name="email" value = "{{ employee_data.email }}" type="email">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="degree">Titul:</label>
      <div class="col-lg-6">
        {% if employee_data.type == "Lekár" %}
          <input class="form-control" id="degree" onclick="disableElements()" name="degree" value = "{{ employee_data.degree }}" type="text">
        {% else %}
          <input class="form-control" id="degree" onclick="disableElements()" name="degree" value = "" type="text" disabled="true">
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="competency">Kompetencie:</label>
      <div class="col-lg-6">
        {% if employee_data.type != "Administrátor" %}
          <input class="form-control" id="competency" onclick="disableElements()" name="competency" value = "{{ employee_data.competency }}" type="text">
        {% else %}
          <input class="form-control" id="competency" onclick="disableElements()" name="competency" value = "" type="text" disabled="true">
        {% endif %}
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="department_id"><font color="red">* </font>Oddelenie:</label>
      <div class="col-lg-6">
        {% if employee_data.type == "Administrátor" %}
          <select class="form-control" onclick="disableElements()" id="department_id" name="department_id" disabled="true" value="">
        {% else %}
          <select class="form-control" onclick="disableElements()" id="department_id" name="department_id" value="">
        {% endif %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="active"><font color="red">* </font>Stav:</label>
      {% if employee_data.active == True %}
        <label class="col-lg-1 radio-inline"><input type="radio" id="active" name="active" value="t" checked="checked">Aktivny</label>
        <label class="col-lg-1 radio-inline"><input type="radio" id="active" name="active" value="f">Neaktivny</label>
      {% else %}
        <label class="col-lg-1 radio-inline"><input type="radio" id="active" name="active" value="t">Aktivny</label>
        <label class="col-lg-1 radio-inline"><input type="radio" id="active" name="active" value="f" checked="checked">Neaktivny</label>
      {% endif %}
    </div>  

    <div class="form-group" style="padding:15px">
      <div class="col-lg-8">
        <button class="btn btn-primary pull-right" type="submit" value="submit">Uložiť zmeny</button>
      </div>
    <div>
  </form>
{% endblock %}