{# _Hospital/templates/add_department.html_ #}

{% extends "layout.html" %}

{% block title %}Editovať oddelenie{% endblock %}
{% block links %}
  <link href="../../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block page_header %}Editovať oddelenie{% endblock %}

{% block page_content %}

  <form class="form-horizontal" action="/department/{{ department_data.id }}/edit/finish" method="POST">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="form-group">
          <div class="col-lg-8">
            {% if messages[0] == "fail-edit-department" %}
              <div class="alert alert-warning" role="alert">
                <strong>Ǔdaje sa nepodarilo upraviť.</strong>
              </div>
            {% else %}
              <div class="alert alert-warning" role="alert">
                <strong>Údaje boli úspešne zmenené.</strong>
              </div>
            {% endif %}
          </div>  
        </div>
      {% endif %}
    {% endwith %}
    <div class="form-group">
      <label class="col-lg-2 control-label" for="id"><font color="red">* </font>Skratka:</label>
      <div class="col-lg-6">
        <input class="form-control" id="id" name="id" value = "{{ department_data.id }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="name"><font color="red">* </font>Meno:</label>
      <div class="col-lg-6">
        <input class="form-control" id="name" name ="name" value = "{{ department_data.name }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="floor"><font color="red">* </font>Poschodie:</label>
      <div class="col-lg-6">
        <input class="form-control" id="floor" name="floor" value = "{{ department_data.floor }}" type="text">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="phone"><font color="red">* </font>Telefónne číslo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="phone" name="phone" value = "{{ department_data.phone }}" type="text">
      </div>
    </div>
    <div class="form-group" style="padding:15px">
      <div class="col-lg-8">
        <button class="btn btn-primary pull-right" type="submit" value="submit">Uložiť zmeny</button>
      </div>
    <div>
  </form>
{% endblock %}