{# _Hospital/templates/add_medicament.html_ #}

{% extends "layout.html" %}

{% block title %}Editovať liek{% endblock %}
{% block links %}
  <link href="../../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block page_header %}Editovať liek{% endblock %}

{% block page_content %}

  <form class="form-horizontal" action="/medicament/{{ medicament_data.id }}/edit/finish" method="POST">
    <!-- {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="form-group">
          <div class="col-lg-8">
            {% if messages[0] == "fail-add-medicament" %}
              <div class="alert alert-warning" role="alert">
                <strong>Liek sa nepodarilo upraviť.</strong>
              </div>
            {% else %}
              <div class="alert alert-warning" role="alert">
                <strong>Liek bol úspešne upravený.</strong>
              </div>
            {% endif %}
          </div>  
        </div>
      {% endif %}
    {% endwith %} -->
    <div class="form-group">
      <label class="col-lg-2 control-label" for="name"><font color="red">* </font>Názov:</label>
      <div class="col-lg-6">
        <input class="form-control" id="name" name="name" value="{{ medicament_data.name }}" type="text">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="active_substance"><font color="red">* </font>Aktívna látka:</label>
      <div class="col-lg-6">
        <textarea class="form-control" rows="5" id="active_substance" name="active_substance" style="resize: vertical;">{{ medicament_data.active_substance }}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="composition"><font color="red">* </font>Zloženie:</label>
      <div class="col-lg-6">
        <textarea class="form-control" rows="5" id="composition" name="composition" style="resize: vertical;">{{ medicament_data.composition }}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="indications"><font color="red">* </font>Indikácie:</label>
      <div class="col-lg-6">
        <textarea class="form-control" rows="5" id="indications" name="indications" style="resize: vertical;" >{{ medicament_data.indications }}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="contraindications"><font color="red">* </font>Kontraindikácie:</label>
      <div class="col-lg-6">
        <textarea class="form-control" rows="5" id="contraindications" name="contraindications" style="resize: vertical;">{{ medicament_data.contraindications }}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="form"><font color="red">* </font>Forma:</label>
      <div class="col-lg-6">
        <input class="form-control" id="form" name="form" type="text" value = "{{ medicament_data.form }}" >
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="rec_dosage"><font color="red">* </font>Doporučené dávkovanie:</label>
      <div class="col-lg-6">
        <textarea class="form-control" rows="5" id="rec_dosage" name="rec_dosage" style="resize: vertical;">{{ medicament_data.rec_dosage }}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="active"><font color="red">* </font>Stav:</label>
      {% if medicament_data.active == True %}
        <label class="col-lg-1 radio-inline"><input type="radio" id="active" name="active" value="t" checked="checked">Aktivny</label>
        <label class="col-lg-1 radio-inline"><input type="radio" id="active" name="active" value="f">Neaktivny</label>
      {% else %}
        <label class="col-lg-1 radio-inline"><input type="radio" id="active" name="active" value="t">Aktivny</label>
        <label class="col-lg-1 radio-inline"><input type="radio" id="active" name="active" value="f" checked="checked">Neaktivny</label>
      {% endif %}
    </div>  
   
    <div class="form-group" style="padding:15px">
      <div class="col-lg-8">
        <button class="btn btn-primary pull-right" type="submit" value="submit">Uložiť zmeny</button>
      </div>
    <div>
  </form>
{% endblock %}