{# _Hospital/templates/prescribe_medicament.html_ #}

{% extends "layout.html" %}

{% block title %}Upraviť liek{% endblock %}
{% block links %}
  <link href="../../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block page_header %}Upraviť liek{% endblock %}

{% block page_content %}

  <form class="form-horizontal" action="/medicament/{{ medicament.id }}/edit/finish" method="POST">
    <input name="patient_id" value="{{ medicament.patient_id }}" hidden="true">
    <div class="form-group">
      <label class="col-lg-2 control-label" for="birth_number">Rodné číslo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="birth_number" name="birth_number" value = "{{ medicament.birth_number }}" type="text" placeholder="000000/0000" disabled="true">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="surname">Priezvisko:</label>
      <div class="col-lg-6">
        <input class="form-control" id="surname" name ="surname" value="{{ medicament.surname }}" type="text" disabled="true">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="name">Meno:</label>
      <div class="col-lg-6">
        <input class="form-control" id="name" name="name" value="{{ medicament.name }}" type="text" disabled="true">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="start_date"><font color="red">* </font>Začiatok:</label>
      <div class="col-lg-6">
        <input class="form-control" id="start_date" name="start_date" value="{{ medicament.start_date }}" type="text" placeholder="DD.MM.YYYY">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="medicament_id"><font color="red">* </font>Liek:</label>
      <div class="col-lg-6">
        <select class="form-control" id="medicament_id" name="medicament_id">
          {% for med in medicaments %}
            {% if medicament.medicament_id == med.id %}
              <option value="{{ med.id }}" selected="true">{{ med.name }}</option>
            {% else %}
              <option value="{{ med.id }}">{{ med.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="dosage"><font color="red">* </font>Dávkovanie:</label>
      <div class="col-lg-6">
        <input class="form-control" id="dosage" name="dosage" value="{{ medicament.dosage }}" type="text">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="amount"><font color="red">* </font>Množstvo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="amount" name="amount" value="{{ medicament.amount }}" type="text">
      </div>
    </div>


    <div class="form-group">
      <label class="col-lg-2 control-label" for="specifications">Špecifikácie:</label>
      <div class="col-lg-6">
        <textarea class="form-control" rows="5" id="specifications" name="specifications" style="resize: vertical;">{{ medicament.specifications }}</textarea>
      </div>
    </div>

    <div class="form-group" style="padding:15px">
      <div class="col-lg-8">
        <button class="btn btn-primary pull-right" type="submit" value="submit">Upraviť</button>
      </div>
    </div>
  </form>
{% endblock %}