{# _Hospital/templates/index.html_ #}

{% extends "layout.html" %}

{% from 'macros.html' import create_table %}

{% block title %}Výsledky vyhľadávania{% endblock %}
{% block links %}
  <link href="../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block style %}
  .form-inline {
    display:table;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .form-inline > * {
    margin:5px 3px;
  }
{% endblock %}

{% block page_header %}Výsledky vyhľadávania{% endblock %}

{% block page_content %}
  
  <form class="form-inline" action="/employees/search" method="POST">
    <input class="form-control" id="type" name="type" value = "" type="text" placeholder="Typ zamestnanca">
    <input class="form-control" id="surname" name="surname" value = "" type="text" placeholder="Priezvisko">
    <input class="form-control" id="department_id" name="department_id" value = "" type="text" placeholder="Oddelenie">
    <button class="btn btn-primary" type="submit" value="submit" style="width: 10em;">Hľadať</button>
  </form>

  {% set header = [("Typ zamestnanca","type"),
                   ("Titul","degree"),
                   ("Priezvisko", "surname"),
                   ("Meno", "name"),
                   ("Pohlavie", "gender"),
                   ("Dátum narodenia", "date_of_birth"),
                   ("Oddelenie","department_id"),
                   ("Kompetencia","competency")]
  %}

  {{ create_table(employees, header, "employee") }}
  
{% endblock %}