{# _Hospital/templates/index.html_ #}

{% extends "layout.html" %}

{% block title %}Profil zamestnanca{% endblock %}

{% block links %}
  <link href="../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block style %}
  tbody {
    display:block;
    height:200px;
    overflow:auto;
  }
  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
  }
  thead {
    width: 100%;
  }
  input.form-control,input.form-control:focus {
      border:none;
      box-shadow: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -moz-transition: none;
     -webkit-transition: none;
  }
{% endblock %}

{% block page_header %}Profil zamestnanca{% endblock %}

{% block page_content %}
  <form class="form-horizontal" action="/patient/{{ employee_data.id }}/edit" method="GET">

    <div class="form-group">
      <label class="col-lg-2 control-label">Typ zamestnanca:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ employee_data.type }}" type="text" style="background-color : white;" readonly="true">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Titul:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ employee_data.degree }}" type="text" style="background-color : white;" readonly="true">
      </div>
      <label class="col-lg-2 control-label">Priezvisko:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ employee_data.surname }}" type="text" style="background-color : white;" readonly="true">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Meno:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ employee_data.name }}" type="text" style="background-color : white;" readonly="true">
      </div>
      <label class="col-lg-2 control-label">Dátum narodenia:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ employee_data.date_of_birth }}" type="text" style="background-color : white;" readonly="true">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Pohlavie:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ employee_data.gender }}" type="text" style="background-color : white;" readonly="true">
      </div>
      <label class="col-lg-2 control-label">Rodné číslo:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ employee_data.birth_number }}" type="text" style="background-color : white;" readonly="true">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Oddelenie:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ employee_data.department_id }}" type="text" style="background-color : white;" readonly="true">
      </div>
      <label class="col-lg-2 control-label">Kompetencie:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ employee_data.competency }}" type="text" style="background-color : white;" readonly="true">
      </div>
    </div>


    <div class="form-group">
      <label class="col-lg-2 control-label">Adresa:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ employee_data.address }}" type="text" style="background-color : white;" readonly="true">
      </div>
      <label class="col-lg-2 control-label">Mesto:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ employee_data.city }}" type="text" style="background-color : white;" readonly="true">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">PSČ:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ employee_data.zip_code }}" type="text" style="background-color : white;" readonly="true">
      </div>
      <label class="col-lg-2 control-label">Poisťovňa:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ employee_data.insurance }}" type="text" style="background-color : white;" readonly="true">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Telefónne číslo:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ employee_data.phone }}" type="text" style="background-color : white;" readonly="true">
      </div>
      <label class="col-lg-2 control-label">Email:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ employee_data.email }}" type="text" style="background-color : white;" readonly="true">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label">Stav:</label>
      <div class="col-lg-3">
      {% if employee_data.active == True %}
        <input class="form-control" value = "Aktívny" type="text" style="background-color : white;" readonly="true">
      {% else %}
        <input class="form-control" value = "Neaktívny" type="text" style="background-color : white;" readonly="true">
      {% endif %}
      </div>
    </div>

  </form>

{% endblock %}