{# _Hospital/templates/hospitalization.html_ #}

{% extends "layout.html" %}

{% block title %}Detaily hospitalizácie{% endblock %}

{% block links %}
  <link href="../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block style %}
  input.form-control,input.form-control:focus, textarea.form-control, textarea.form-control:focus {
      border:none;
      box-shadow: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -moz-transition: none;
     -webkit-transition: none;
  }
{% endblock %}

{% block page_header %}Detaily hospitalizácie{% endblock %}

{% block page_content %}
  
<form class="form-horizontal">
  <h3>Informácie</h3>
  <div class="form-group">
    <label class="col-lg-2 control-label">Začiatok:</label>
    <div class="col-lg-3">
      <input class="form-control" value = "{{ hospitalization.start_date }}" type="text" style="background-color : white;" readonly="true">
    </div>
    <label class="col-lg-2 control-label">Koniec:</label>
    <div class="col-lg-3">
      <input class="form-control" value = "{{ hospitalization.end_date }}" type="text" style="background-color : white;" readonly="true">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Oddelenie:</label>
    <div class="col-lg-3">
      <input class="form-control" value = "{{ hospitalization.department }}" type="text" style="background-color : white;" readonly="true">
    </div>
    <label class="col-lg-2 control-label">Izba:</label>
    <div class="col-lg-3">
      <input class="form-control" value = "{{ hospitalization.room }}" type="text" style="background-color : white;" readonly="true">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Diagnóza:</label>
    <div class="col-lg-6">
      <textarea class="form-control" rows="5" type="text" style="background-color : white;resize: none;" readonly="true">{{ hospitalization.diagnosis }}</textarea>
    </div>
  </div>

  <h3>Pacient</h3>
  <div class="form-group">
    <label class="col-lg-2 control-label">Meno:</label>
    <div class="col-lg-3">
      <input class="form-control" value = "{{ hospitalization.p_name }}" type="text" style="background-color : white;" readonly="true">
    </div>
    <label class="col-lg-2 control-label">Priezvisko:</label>
    <div class="col-lg-3">
      <input class="form-control" value = "{{ hospitalization.p_surname }}" type="text" style="background-color : white;" readonly="true">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Rodné číslo:</label>
    <div class="col-lg-3">
      <input class="form-control" value = "{{ hospitalization.birth_number }}" type="text" style="background-color : white;" readonly="true">
    </div>
    <label class="col-lg-2 control-label">Dátum narodenia:</label>
    <div class="col-lg-3">
      <input class="form-control" value = "{{ hospitalization.date_of_birth }}" type="text" style="background-color : white;" readonly="true">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Pohlavie:</label>
    <div class="col-lg-3">
      <input class="form-control" value = "{{ hospitalization.gender }}" type="text" style="background-color : white;" readonly="true">
    </div>
    <label class="col-lg-2 control-label">Poistenie:</label>
    <div class="col-lg-3">
      <input class="form-control" value = "{{ hospitalization.insurance }}" type="text" style="background-color : white;" readonly="true">
    </div>
  </div>


  <h3 style="padding-top:2%;">Hospitalizoval</h3>
  <div class="form-group">
    <label class="col-lg-2 control-label">Meno:</label>
    <div class="col-lg-3">
      <input class="form-control" value = "{{ hospitalization.e_name }}" type="text" style="background-color : white;" readonly="true">
    </div>
    <label class="col-lg-2 control-label">Priezvisko:</label>
    <div class="col-lg-3">
      <input class="form-control" value = "{{ hospitalization.e_surname }}" type="text" style="background-color : white;" readonly="true">
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Postavenie:</label>
    <div class="col-lg-3">
      {% if hospitalization.e_type == "doctor" %}
      <input class="form-control" value = "Lekár" type="text" style="background-color : white;" readonly="true">
      {% else %}
      <input class="form-control" value = "Sestra" type="text" style="background-color : white;" readonly="true">
      {% endif %}
    </div>
  </div>
  </form>

  <div class="form-group" style="padding-top:2%;">
    <div class="col-lg-9">
    <form action="/patient/{{ hospitalization.p_id }}">
      <button class="btn btn-primary pull-right" style="margin:5px 3px;">Zobraziť pacienta</button>
    </form>
    <form action="/hospitalization/{{ hospitalization.id }}/edit">
      <button class="btn btn-primary pull-right" style="margin:5px 3px;">Upraviť hospitalizáciu</button>
    </form>
    </div>
  </div>

{% endblock %}