{# _Hospital/templates/index.html_ #}

{% extends "layout.html" %}

{% block title %}Prehľad{% endblock %}
{% block links %}
  <link href="static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block style %}
  .form-inline {
    display:table;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .form-inline > * {
    margin:20px 40px;
  }
  h2 {
    padding-top : 30px;
    padding-bottom : 20px;
  }
  label {
    <!-- text-align: right; -->
    clear: both;
    float:right;
    margin-left:15px;
    margin-top: 23px;
    font-size: 20px;
}
{% endblock %}

{% block page_header %}Prehľad{% endblock %}

{% block page_content %}
  
  <form class="form-inline">
    <div class="form-group">
      <span class="glyphicon glyphicon-plus" style="font-size: 60px;"></span>
      {% if hosp == 0 or hosp > 4 %}
        <label>{{ hosp }} hospitalizácií</label>
      {% elif hosp == 1 %}
        <label>{{ hosp }} hospitalizácia</label>
      {% else %}
        <label>{{ hosp }} hospitalizácie</label>
      {% endif %}
    </div>
    <div class="form-group">
      <span class="glyphicon glyphicon-heart" style="font-size: 60px;"></span>
      {% if pat == 0 or pat > 4 %}
        <label>{{ pat }} pacientov</label>
      {% elif pat == 1 %}
        <label>{{ pat }} pacient</label>
      {% else %}
        <label>{{ pat }} pacienti</label>
      {% endif %}
    </div>
    <div class="form-group">
      <span class="glyphicon glyphicon-user" style="font-size: 60px;"></span>
      {% if emp == 0 or emp > 4 %}
        <label>{{ emp }} zamestnancov</label>
      {% elif emp == 1 %}
        <label>{{ emp }} zamestnanec</label>
      {% else %}
        <label>{{ emp }} zamestnanci</label>
      {% endif %}
    </div>
  </form>

  <h2>Noví pacienti</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rodné číslo</th>
          <th>Priezvisko</th>
          <th>Meno</th>
          <th>Dátum narodenia</th>
          <th>Pohlavie</th>
          <th>Poistovňa</th>
          <th>Adresa</th>
          <th>Mesto</th>
          <th>PSČ</th>
        </tr>
      </thead>
      <tbody>
        {% for patient in patients %}
        <tr>
          <td>{{ patient.birth_number }}</td>
          <td>{{ patient.surname }}</td>
          <td>{{ patient.name }}</td>
          <td>{{ patient.date_of_birth }}</td>
          <td>{{ patient.gender }}</td>
          <td>{{ patient.insurance }}</td>
          <td>{{ patient.address }}</td>
          <td>{{ patient.city }}</td>
          <td>{{ patient.zip_code }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  <h2>Nové hospitalizácie</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Začiatok</th>
          <th>Koniec</th>
          <th>Oddelenie</th>
          <th>Rodné číslo</th>
          <th>Pacient</th>
          <th>Hospitalizoval</th>
        </tr>
      </thead>
      <tbody>
        {% for hospitalization in hospitalizations %}
        <tr>
          <td>{{ hospitalization.start_date }}</td>
          <td>{{ hospitalization.end_date }}</td>
          <td>{{ hospitalization.department }}</td>
          <td>{{ hospitalization.birth_number }}</td>
          <td>{{ hospitalization.patient }}</td>
          <td>{{ hospitalization.employee }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}