{# _Hospital/templates/layout.html #}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="icon" href="static/favicon.ico">
    <link rel="icon" href="../static/favicon.ico">
    <link rel="icon" href="../../static/favicon.ico">

    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {% block links %}

    {% endblock %}

    <style type="text/css">
      {% block style %}

      {% endblock %}  
    </style>

    <script type="text/javascript">
      {% block script %}

      {% endblock %}  
    </script>

  </head>

  <body>

    <div class="container-fluid">
      <div class="row">

        <!-- MENU -->
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/">Prehľad <span class="sr-only">(current)</span></a></li>
          </ul>
          {% for sub_menu in menu %}
            <ul class="nav nav-sidebar">
              <li class="nav-divider"></li>
              <li><strong>{{ sub_menu.category }}</strong></li>
              {% for subcat in sub_menu.links %}
                <li><a href="{{ subcat.link }}">{{ subcat.name }}</a></li>
              {% endfor %}
            </ul>
          {% endfor %}
          <ul class="nav nav-sidebar">
            <li class="nav-divider"></li>
            <li><a href="/profile">Profil</a></li>
            <li><a href="/logout">Odhlásiť sa</a></li>
          </ul>
        </div>


        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{% block page_header %}{% endblock %}</h1>
          {% block page_content %}

          {% endblock %}
        </div>
      </div>
    </div>

  </body>
</html>
