
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    
    <link rel="icon" href="static/favicon.ico">

    <title>Nemocnica IS</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="static/css/login.css" rel="stylesheet">
    <style type="text/css">
      body {
        background: url("/static/background2.jpg") fixed;
        background-size: cover;
        padding: 0;
        margin: 0;
      }
      .container {
        background-color: rgba(255,255,255,0.92);
        margin-top: 3%;
        border-radius: 10px;
        max-width: 400px;
      }
      h1 {
        margin-top: 8%;
      }
    </style>
  </head>

  <body>

    <h1 align="center"><strong>Informačný systém nemocnice</strong> </h1>
    <div class="container">

      <form class="form-signin" action="/login/check" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="username" id="username" placeholder="Uživateľské meno">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" id="password" placeholder="Heslo">
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-warning" role="alert">
              <strong>Nesprávne meno alebo heslo</strong>
            </div>
          {% endif %}
        {% endwith %}
        <button class="btn btn-primary btn-block" type="submit">Prihlásiť sa</button>
      </form>

    </div>

  </body>
</html>