{% macro create_table(data, header, link, user = "all") %}
    
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          {% for value in header %}
          <th>{{ value[0] }}</th>
          {% endfor %}
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in data %}
          <tr>
            {% for value in header %}
              <td style="vertical-align:middle;">{{ item[value[1]] }}</td>
            {% endfor %}
            <td style="vertical-align:middle;">
              {% if link == "patient" %}
                <button class="btn btn-primary btn-xs" title="Hospitalizovať" onclick="location.href='/{{ link }}/{{ item.id }}/hospitalization';">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                {% if user == "doctor" %}
                  <button class="btn btn-primary btn-xs" title="Zapísať vyšetrenie" onclick="location.href='/{{ link }}/{{ item.id }}/arbitration';">
                    <span class="glyphicon glyphicon-stats"></span>
                  </button>
                  <button class="btn btn-primary btn-xs" title="Predpísať liek" onclick="location.href='/{{ link }}/{{ item.id }}/medicament';">
                    <span class="glyphicon glyphicon-glass"></span>
                  </button>
                {% endif %}
              {% endif %}
              {% if not link == "department" and not link == "medicament"  %}
                <button class="btn btn-primary btn-xs" title="Zobraziť detaily" onclick="location.href='/{{ link }}/{{ item.id }}';">
                  <span class="glyphicon glyphicon-eye-open"></span>
                </button>
              {% endif  %}
              <button class="btn btn-primary btn-xs" title="Editovať" onclick="location.href='/{{ link }}/{{ item.id }}/edit';">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <!-- <button class="btn btn-primary btn-xs" title="Vymazať" onclick="location.href='/{{ link }}/{{ item.id }}/remove';">
                <span class="glyphicon glyphicon-remove"></span>
              </button> -->
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endmacro %}
