{# _Hospital/templates/index.html_ #}

{% extends "layout.html" %}

{% block title %}Detail lieku{% endblock %}

{% block links %}
  <link href="../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block style %}
  tbody {
          display:block;
          height:200px;
          overflow:auto;
      }
      thead, tbody tr {
          display:table;
          width:100%;
          table-layout:fixed;
      }
      thead {
          width: calc( 100% - 1em )
  }
{% endblock %}

{% block page_header %}Detail lieku{% endblock %}

{% block page_content %}
  <div>
    <p><strong>Názov: </strong>Paralen</p>
    <p><strong>Aktívna látka: </strong>Brufen</p>
    <p><strong>Zloženie: </strong>brufen,voda</p>
    <p><strong>Indikácie: </strong>Nevien</p>
    <p><strong>Kontraindikácie: </strong>Netusim</p>
    <p><strong>Forma: </strong>tablety</p>
    <p><strong>Doporučené dávkovanie: </strong>4x denne</p>
  </div>


  <h2>Pacienti ktorým bol liek predpísaný</h2>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rodné číslo</th>
          <th>Meno</th>
          <th>Priezvisko</th>
          <th>Dátum narodenia</th>
          <th>Poisťovňa</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>PICUS</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
          <tr>
            <td>AHOJ</td>
            <td>AKO</td>
            <td>SA</td>
            <td>MAS</td>
            <td>????</td>
          </tr>
      </tbody>
    </table>
  </div>

{% endblock %}