{# _Hospital/templates/index.html_ #}

{% extends "layout.html" %}

{% block title %}Profil pacienta{% endblock %}

{% block links %}
  <link href="../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block style %}
  tbody {
    display:block;
    height:200px;
    overflow:auto;
  }
  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
  }
  thead {
    width: 100%;
  }
  input.form-control,input.form-control:focus {
      border:none;
      box-shadow: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -moz-transition: none;
     -webkit-transition: none;
  }
{% endblock %}

{% block page_header %}Profil pacienta{% endblock %}

{% block page_content %}

  <form class="form-horizontal" action="/patient/{{ patient_data.id }}/edit" method="GET">
    <div class="form-group">
      <label class="col-lg-2 control-label">Rodné číslo:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ patient_data.birth_number }}" type="text" style="background-color : white;" readonly="true">
      </div>
      <label class="col-lg-2 control-label">Dátum narodenia:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ patient_data.date_of_birth }}" type="text" style="background-color : white;" readonly="true">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Priezvisko:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ patient_data.surname }}" type="text" style="background-color : white;" readonly="true">
      </div>
      <label class="col-lg-2 control-label">Meno:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ patient_data.name }}" type="text" style="background-color : white;" readonly="true">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Pohlavie:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ patient_data.gender }}" type="text" style="background-color : white;" readonly="true">
      </div>
      <label class="col-lg-2 control-label">Zdravotná poisťovňa:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ patient_data.insurance }}" type="text" style="background-color : white;" readonly="true">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Adresa:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ patient_data.address }}" type="text" style="background-color : white;" readonly="true">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Mesto:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ patient_data.city }}" type="text" style="background-color : white;" readonly="true">
      </div>
      <label class="col-lg-2 control-label">PSČ:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ patient_data.zip_code }}" type="text" style="background-color : white;" readonly="true">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Telefón:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ patient_data.phone }}" type="text" style="background-color : white;" readonly="true">
      </div>
      <label class="col-lg-2 control-label">Email:</label>
      <div class="col-lg-3">
        <input class="form-control" value = "{{ patient_data.email }}" type="text" style="background-color : white;" readonly="true">
      </div>
    </div>
    <div class="form-group" style="padding-top:3%;">
      <div class="col-lg-9">
        <button class="btn btn-primary pull-right" type="submit" style="margin:5px 3px;">Editovať pacienta</button>
      </div>  
    </div>
  </form>

  <h2 style="padding-top:2%;">Hospitalizácie</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Začiatok</th>
          <th>Koniec</th>
          <th>Izba</th>
          <th>Oddelenie</th>
          <th>Hospitalizoval</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          {% for hospitalization in hospitalizations %}
            <tr>
              <td>{{ hospitalization.start_date }}</td>
              <td>{{ hospitalization.end_date }}</td>
              <td>{{ hospitalization.room }}</td>
              <td>{{ hospitalization.department }}</td>
              <td>{{ hospitalization.employee }}</td>
              <td style="vertical-align:middle;">
                <button class="btn btn-primary btn-xs" title="Zobraziť detaily" onclick="location.href='/hospitalization/{{ hospitalization.id }}';">
                  <span class="glyphicon glyphicon-eye-open"></span>
                </button>
                <button class="btn btn-primary btn-xs" title="Editovať" onclick="location.href='/hospitalization/{{ hospitalization.id }}/edit';">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
              </td>
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

  <h2>Vyšetrenia</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Názov</th>
          <th>Dátum</th>
          <th>Detaily</th>
          <th>Lekár</th>
          {% if user == "doctor" %}
            <th></th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
          {% for arb in arbitration_data %}
            <tr>
              <td>{{ arb.name }}</td>
              <td>{{ arb.adate }}</td>
              <td>{{ arb.details }}</td>
              <td>{{ arb.employee }}</td>
              {% if user == "doctor" %}
              <td>
                <button class="btn btn-primary btn-xs" title="Editovať" onclick="location.href='/arbitration/{{ arb.id }}/edit';">
                <span class="glyphicon glyphicon-pencil"></span>
                </button>
              </td>
              {% endif %}
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  <h2>Predpísané lieky</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Liek</th>
          <th>Začiatok užívania</th>
          <th>Dávkovanie</th>
          <th>Množstvo</th>
          <th>Naordinoval</th>
          <th>Špecifikácie</th>
          {% if user == "doctor" %}
            <th></th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
          {% for med in medicine %}
            <tr>
              <td>{{ med.name }}</td>
              <td>{{ med.start_date }}</td>
              <td>{{ med.dosage }}</td>
              <td>{{ med.amount }}</td>
              <td>{{ med.employee }}</td>
              <td>{{ med.specifications }}</td>
              {% if user == "doctor" %}
              <td>
                <button class="btn btn-primary btn-xs" title="Editovať" onclick="location.href='/medicament/{{ med.id }}/edit';">
                <span class="glyphicon glyphicon-pencil"></span>
                </button>
              </td>
              {% endif %}
            </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>  

{% endblock %}