{# _Hospital/templates/prescribe_medicament.html_ #}

{% extends "layout.html" %}

{% block title %}Predpísať liek{% endblock %}
{% block links %}
  <link href="../../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block page_header %}Predpísať liek{% endblock %}

{% block page_content %}

  <form class="form-horizontal" action="/patient/{{ patient.id }}/medicament/finish" method="POST">

    <div class="form-group">
      <label class="col-lg-2 control-label" for="birth_number">Rodné číslo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="birth_number" name="birth_number" value = "{{ patient.birth_number }}" type="text" placeholder="000000/0000" disabled="true">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="surname">Priezvisko:</label>
      <div class="col-lg-6">
        <input class="form-control" id="surname" name ="surname" value="{{ patient.surname }}" type="text" disabled="true">
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label" for="name">Meno:</label>
      <div class="col-lg-6">
        <input class="form-control" id="name" name="name" value="{{ patient.name }}" type="text" disabled="true">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="start_date"><font color="red">* </font>Začiatok:</label>
      <div class="col-lg-6">
        <input class="form-control" id="start_date" name="start_date" value="{{ med.start_date }}" type="text" placeholder="DD.MM.YYYY">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="medicament_id"><font color="red">* </font>Liek:</label>
      <div class="col-lg-6">
        <select class="form-control" id="medicament_id" name="medicament_id">
          {% for medicament in medicaments %}
            {% if med.medicament_id == medicament.id %}
              <option value="{{ medicament.id }}">{{ medicament.name }}</option>
            {% else %}
              <option value="{{ medicament.id }}">{{ medicament.name }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="dosage"><font color="red">* </font>Dávkovanie:</label>
      <div class="col-lg-6">
        <input class="form-control" id="dosage" name="dosage" value="{{ med.dosage }}" type="text">
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-2 control-label" for="amount"><font color="red">* </font>Množstvo:</label>
      <div class="col-lg-6">
        <input class="form-control" id="amount" name="amount" value="{{ med.amount }}" type="text">
      </div>
    </div>


    <div class="form-group">
      <label class="col-lg-2 control-label" for="specifications">Špecifikácie:</label>
      <div class="col-lg-6">
        <textarea class="form-control" rows="5" id="specifications" name="specifications" style="resize: vertical;">{{ med.specifications }}</textarea>
      </div>
    </div>

    <div class="form-group" style="padding:15px">
      <div class="col-lg-8">
        <button class="btn btn-primary pull-right" type="submit" value="submit">Predpísať</button>
      </div>
    </div>
  </form>
{% endblock %}