{# _Hospital/templates/index.html_ #}

{% extends "layout.html" %}

{% block title %}Profil{% endblock %}
{% block links %}
  <link href="../static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block style %}
  .special .form-group input.form-control, .special .form-group input.form-control:focus, .special .form-group textarea.form-control, .special .form-group textarea.form-control:focus {
      border:none;
      box-shadow: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     -moz-transition: none;
     -webkit-transition: none;
  }
{% endblock %}

{% block page_header %}Profil{% endblock %}

{% block page_content %}
  <div class="row">
    <!-- left column -->
    <!-- <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <img src="../static/man.jpg" class="avatar img-circle img-thumbnail" alt="avatar" width="250" height="250">
      </div>
    </div> -->
    
    <form class="form-horizontal">
      <div class="special">
        <div class="form-group">
          <label class="col-lg-2 control-label">Meno:</label>
          <div class="col-lg-3">
            <input class="form-control" value = "{{ data.name }}" type="text" style="background-color : white;" readonly="true">
          </div>
          <label class="col-lg-2 control-label">Priezvisko:</label>
          <div class="col-lg-3">
            <input class="form-control" value = "{{ data.surname }}" type="text" style="background-color : white;" readonly="true">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Rodné číslo:</label>
          <div class="col-lg-3">
            <input class="form-control" value = "{{ data.birth_number }}" type="text" style="background-color : white;" readonly="true">
          </div>
          <label class="col-lg-2 control-label">Dátum narodenia:</label>
          <div class="col-lg-3">
            <input class="form-control" value = "{{ data.date_of_birth }}" type="text" style="background-color : white;" readonly="true">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Titul:</label>
          <div class="col-lg-3">
            <input class="form-control" value = "{{ data.title }}" type="text" style="background-color : white;" readonly="true">
          </div>
          <label class="col-lg-2 control-label">Poistovňa:</label>
          <div class="col-lg-3">
            <input class="form-control" value = "{{ data.insurance }}" type="text" style="background-color : white;" readonly="true">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Adresa:</label>
          <div class="col-lg-3">
            <input class="form-control" value = "{{ data.address }}" type="text" style="background-color : white;" readonly="true">
          </div>
          <label class="col-lg-2 control-label">Mesto:</label>
          <div class="col-lg-3">
            <input class="form-control" value = "{{ data.city }}" type="text" style="background-color : white;" readonly="true">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">PSČ:</label>
          <div class="col-lg-3">
            <input class="form-control" value = "{{ data.zip_code }}" type="text" style="background-color : white;" readonly="true">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Oddelenie:</label>
          <div class="col-lg-3">
            <input class="form-control" value = "{{ data.department }}" type="text" style="background-color : white;" readonly="true">
          </div>
          <label class="col-lg-2 control-label">Kompetencia:</label>
          <div class="col-lg-3">
            <textarea class="form-control" rows="3" type="text" style="background-color : white;resize: none;" readonly="true">{{ data.competency }}</textarea>
          </div>
        </div>
      </div>
    </form>

    <form class="form-horizontal" style="margin-top:10%;" action="/profile/password" method="POST">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="form-group">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
              {% if messages[0] == "fail-missing" %}
                <div class="alert alert-warning" role="alert">
                  <strong>Chýba jedno z dvojice hesiel.</strong>
                </div>
              {% elif messages[0] == "fail-not-equal" %}
                <div class="alert alert-warning" role="alert">
                  <strong>Heslá sa nezhodujú.</strong>
                </div>
              {% else %}
                <div class="alert alert-warning" role="alert">
                  <strong>Heslo bolo úspešne zmenené.</strong>
                </div>
              {% endif %}
            </div>  
          </div>
        {% endif %}
      {% endwith %}
      <div class="form-group">
        <label class="col-lg-2 control-label"><font color="red">* </font>Nové heslo:</label>
        <div class="col-lg-3">
          <input class="form-control"  id="new_password" name="new_password" value = "" type="password">
        </div>
        <label class="col-lg-2 control-label"><font color="red">* </font>Opakovať nové heslo:</label>
        <div class="col-lg-3">
          <input class="form-control" id="repeat_password" name="repeat_password"  value = "" type="password">
        </div>
      </div>
      <div class="form-group" style="padding:15px">
        <div class="col-lg-10">
          <button class="btn btn-primary pull-right" type="submit" value="submit">Uložiť nové heslo</button>
        </div>
      <div>
    </form>

  </div>
{% endblock %}