{# _Hospital/templates/show_hospitalizations.html_ #}

{% extends "layout.html" %}

{% from 'macros.html' import create_table %}

{% block title %}Hospitalizácie{% endblock %}
{% block links %}
  <link href="static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block style %}
  .form-inline {
    display:table;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .form-inline > * {
    margin:5px 3px;
  }
{% endblock %}

{% block page_header %}Hospitalizácie{% endblock %}

{% block page_content %}
  
  <form class="form-inline" action="/hospitalizations/search" method="POST">
    <input class="form-control" id="start_date" name="start_date" value = "" type="text" placeholder="Začiatok DD.MM.YYYY">
    <input class="form-control" id="end_date" name="end_date" value = "" type="text" placeholder="Koniec DD.MM.YYYY">
    <select class="form-control" id="department" name="department">
      <option value=""></option>
      {% for department in departments %}
        <option value="{{ department.id }}">{{ department.name }}</option>
      {% endfor %}
    </select>
    <button class="btn btn-primary" type="submit" value="submit" style="width: 10em;">Hľadať</button>
  </form>

  {% set header = [("Začiatok", "start_date"),
                   ("Koniec", "end_date"),
                   ("Oddelenie", "department"),
                   ("Rodné číslo", "birth_number"),
                   ("Pacient", "patient"),
                   ("Hospitalizoval", "employee")]
  %}

  {{ create_table(hospitalizations, header, "hospitalization") }}
  
{% endblock %}