{# _Hospital/templates/index.html_ #}

{% extends "layout.html" %}

{% from 'macros.html' import create_table %}

{% block title %}Pacienti{% endblock %}
{% block links %}
  <link href="static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block style %}
  .form-inline {
    display:table;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .form-inline > * {
    margin:5px 3px;
  }
{% endblock %}

{% block page_header %}Pacienti{% endblock %}

{% block page_content %}
  
  <form class="form-inline" action="/patients/search" method="POST">
    <input class="form-control" id="birth_number" name="birth_number" value = "" type="text" placeholder="Rodné číslo">
    <input class="form-control" id="surname" name="surname" value = "" type="text" placeholder="Priezvisko">
    <input class="form-control" id="insurance" name="insurance" value = "" type="text" placeholder="Poisťovňa">
    <input class="form-control" id="city" name="city" value = "" type="text" placeholder="Mesto">
    <button class="btn btn-primary" type="submit" value="submit" style="width: 10em;">Hľadať</button>
  </form>

  {% set header = [("Rodné číslo", "birth_number"),
                   ("Priezvisko", "surname"),
                   ("Meno", "name"),
                   ("Dátum narodenia", "date_of_birth"),
                   ("Pohlavie", "gender"),
                   ("Poisťovňa", "insurance"),
                   ("Adresa", "address"),
                   ("Mesto", "city"),
                   ("PSČ", "zip_code")]
  %}

  {{ create_table(patients, header, "patient", user) }}
  
{% endblock %}