{# _Hospital/templates/index.html_ #}

{% extends "layout.html" %}

{% from 'macros.html' import create_table %}

{% block title %}Lieky{% endblock %}
{% block links %}
  <link href="static/css/dashboard.css" rel="stylesheet">
{% endblock %}

{% block style %}
  .form-inline {
    display:table;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .form-inline > * {
    margin:5px 3px;
  }
{% endblock %}

{% block page_header %}Lieky{% endblock %}

{% block page_content %}
  
  <form class="form-inline" action="/medicaments/search" method="POST">
    <input class="form-control" id="name" name="name" value = "" name="text" placeholder="Názov">
    <button class="btn btn-primary" type="submit" value="submit" style="width: 10em;">Hľadať</button>
  </form>

  {% set header = [("Názov","name"),
                   ("Aktívna látka","active_substance"),
                   ("Zloženie", "composition"),
                   ("Indikácie", "indications"),
                   ("Kontraindikácie", "contraindications"),
                   ("Forma","form"),
                   ("Doporučené dávkovanie","rec_dosage")]
  %}

  {{ create_table(medicaments, header, "medicament") }}
  
{% endblock %}